{% load static %}
<nav class="navbar bg-secondary navbar-dark">
    <a class="navbar-brand mx-4 mb-3" href="/cabinet">
        <h4 class="text-primary">
        <img src="{% static 'base/logo.png' %}" alt="Logo" width="40">
        1Cmessages</h4>
    </a>

    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
            <h6 class="mb-0">{{ user }}</h6>
            <span>Баланс:</span><br>
            <span>Тариф:</span>
        </div>
    </div>

    <div class="navbar-nav w-100">
        <a href="{% url 'instances' %}" class="nav-item nav-link">
            <i class="fa fa-tachometer-alt me-2"></i>Инстансы
        </a>

        <a href="{% url 'one_message' %}" class="nav-item nav-link">
            <i class="fa fa-tachometer-alt me-2"></i>Одиночные сообщения
        </a>

        <a href="{% url 'few_messages' %}" class="nav-item nav-link">
            <i class="fa fa-tachometer-alt me-2"></i>Рассылка
        </a>
    </div>
</nav>