{% extends '../base/base-cabinet.html' %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Инстанс #{{ instance }}</h6>
                    {% if status == 'nodriver' %}
                    <p>Драйвер не запущен</p>                    
                    {% elif status == 'wrongurl' %}
                    <p>Неправильный URL</p>
                    {% elif status == 'noauth' %}
                    <p>Неавторизован</p>                    
                    {% elif status == 'auth' %}
                    <p>Авторизован</p>
                    {% endif %}
                </div>

                <div>
                    {% if status == 'nodriver' %}
                    <a type="button" onclick="createDriver('{{ instance }}')" class="btn btn-success w-100">Перезапустить драйвер</a>
                    {% elif status == 'noauth' %}
                    <form name="auth">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">+7</span>
                            <input type="number" class="form-control" placeholder="Номер телефона" aria-label="authnumber"
                                aria-describedby="basic-addon1" name="authnumber">
                        </div>
                        <button id="auth_button" class="btn btn-success w-100" onclick="openDriver('{{ instance }}')">Авторизовать</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Code -->
        <div class="col-sm-12 col-md-6 col-xl-4" id="code" style="visibility: hidden;">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Код</h6>
                </div>
                <div class="d-flex justify-content-center" style="background-color: aliceblue;">
                    <div class="p-3" id="authcode"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="alert"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script type="text/javascript">
    function createDriver(instance){
        fetch("{% url 'create_driver' %}", {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({'instance': instance})
        })        
    }

    function openDriver(instance){
        let authnumber = document.forms['auth']['authnumber'].value
        if (authnumber.toString().length == 10) {
            toAuth(instance, authnumber);
            setTimeout(function() {
                checkAuth(instance);
            }, 3000);
        } else {
            alert("Номер указан неправильно")
        }        
    }

    async function toAuth(instance, authnumber){
        var button = document.getElementById('auth_button');
        button.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Авторизация...';
        button.disabled = true;

        $.ajax({
        url: "{% url 'auth_instance' %}",
        type: 'POST',
        data: {
            'instance': instance, 
            'authnumber': authnumber,
        },
        success: function(response) {
            //for (const char of response) {
                //var code = document.createElement('h3');
                //code.classList.add('border');
                //code.textContent = char;
                //document.getElementById("authcode").appendChild(code);
            //}
            document.getElementById("authcode").innerHTML = response;
            document.getElementById("code").style.visibility = 'visible';
            button.innerHTML = 'Авторизовать';
            button.disabled = false;
        }
        })
    }

    async function getQR(instance){
        $.ajax({
            url: "{% url 'get_qr' %}",
            type: 'GET',
            data: {'instance': instance},
            success: function (response) {
                document.getElementById("qrcode").innerHTML = "";
                new QRCode(document.getElementById("qrcode"), response);
            }
        })        
    }

    async function checkAuth(instance) {
        $.ajax({
            url: "{% url 'check_auth' %}",
            type: 'GET',
            data: {'instance': instance},
            success: function (response) {
                if (response === 'reload') {
                    location.reload();
                }
            }
        })
    }

</script>

{% endblock content %}