{% extends '../base/base-cabinet.html' %}

{% block content %}
<h1>Instance .....</h1>

<a type="button" onclick="openDriver()" class="btn btn-success">
    Получить QR код
</a>

<a id="qrcode"></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function openDriver(){
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.post({
            url: "{% url 'get_qr' %}",
            data: {
                instance: 1000000,
                csrfmiddlewaretoken: CSRFtoken,
            },
            success: function(response) {
                console.log(response);
                if (response == 'ok') {
                    getQR();
                }
            },
        })
    }

    function getQR() {
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
            type: 'get',
            url: "{% url 'get_qr' %}",
            data: {csrfmiddlewaretoken: CSRFtoken},
            success: function(response) {
                console.log(response);
                $('#qrcode').text(response);
            },
            complete: function(response) {
                setTimeout(getQR(), 1000)
            },
        })
    }
</script>

{% endblock content %}